body, ul {
    -moz-osx-font-smoothing: grayscale;
    color: #000;
    font-family: Arial,sans-serif;
    font-size: 1em;
}

#menu {
	margin: 1% 30%;
}

#menu a {
	border-style: solid;
	border-width: 1px;
	float: left;
	margin: 1px;
	background-color: #707070;
}

.thumbnail-container {
	margin: 1% 30%;
}

.thumbnail {
	width: 50%;
	float: left;
}

.thumbnail-inner {
	border-style: solid;
	border-width: 1px;
	height: 200px;
	margin: 2px;
	border-radius: 6px;
}

.focus > div {
    box-shadow: 16px 8px 18px rgba(99, 99, 99, 1);
	background-color: #dddddd;
}

a.focus {
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
	background-color: #999999 !important;
}

img {
	width: 50%;
	height: 100%;
	float: left;
}

.label {
	width: 50%;
	height: 100%;
	float: left;
}

.img_content {
	float: left;
    height: 100%;
    width: 50%;
}

.overview {
	height: 60px;
    overflow: hidden;
}

.rating {
	position:relative;
}
